@media screen and (max-width:670px) {

    .con1-con h1 {
        font-size:30px;
    }

    .con1-message{
        padding-left:10px;
        padding-right:10px;
    }

    .header-con {
        padding-right:20px;
        padding-left:20px;
        height:50px;
    }

    .header-logo {
        line-height:50px;
        font-size:20px;
    }

    .header-login {
        line-height:50px;
        padding-left:25px;
        padding-right:25px;
    }

}
