* {
    box-sizing:border-box;
    }
    
    body {
        font-family: "Hiragino Sans",sans-serif;
        margin:0;
    }

    .con1 {
        background-image:url(https://prog-8.com/images/html/advanced/top.png);
        background-size:cover;
    }

    .con1-con {
        padding-top:180px;
        padding-bottom:100px;
        text-align:center;
    }

    .con1-con h1 {
        font-size:45px;
        letter-spacing:5px;
        padding-bottom:30px;
        color:white;
        opacity:0.7;
    }

    .con1-message{
        color:white;
        opacity:0.7;
        padding-bottom:30px;
    }

    .con1-or {
        color:white;
        opacity:0.7;
    }

    .btn {
        color:white;
        border-radius: 4px;
        padding:8px 24px;
        color:white;
        opacity:0.8;
    }

    .register {
        background-color: #239b76;
    }

    .facebook {
        background-color:#3b5998;
        padding-right:10px;
    }

    .twitter {
        background-color:#55acee;
    }

    /* btn カーソル乗せた時 */
    .btn:hover {
        opacity:1.0;
        cursor:pointer;
    }

    header {
        width:100%;
        background-color:rgba(34, 49, 52, 0.9);
        color:white;
        position:fixed;
        z-index:10;
    }

    .header-con {
        padding-right:40px;
        padding-left:40px;
    }

    .header-logo {
        width:124px;
        line-height:65px;
        float:left;
        font-size:20px;
    }

    .header-login {
        line-height:65px;
        padding-left:25px;
        padding-right:25px;
        background-color:rgba(255, 255, 255, 0.3);
        float:right;
    }

    /* カーソル乗せた時 */
    .header-login:hover {
        transition:all 0.5s;
        background-color:rgba(255, 255, 255, 0.5);
        cursor:pointer;
    }

    .con2 {
        background-color:#f7f7f7;
    }

    .con2 h2 {
        color:#5f5d60;
        text-align:center;
        padding-top:80px;
        padding-bottom:50px;
        font-weight: normal;
        margin-top:-20px;
    }

    .lesson {
        float:left;
        width:25%;
        margin:0 auto;
        text-align:center;
        position:relative;
    }

    .clear {
        clear:left;
    }

    .name {
        position:absolute;
        top:75px;
        width:100%;
        color:white;
    }

    .ex {
        padding-top:15px;
        font-size:13px;
        width:80%;
        margin:0 auto;
        color:#b3aeb5;
        padding-bottom:80px;
    }

    .con3 {
        text-align:center;
        padding-top:80px;
        padding-bottom:80px;
    }

    .con3 h2 {
        font-weight: normal;
        color:#5f5d60;
    }

    .con3 h3{
        padding-bottom:50px;
        font-weight: normal;
        color:#5f5d60;
    }

    .development{
         background-color: #5dca88;
         opacity:0.8;
         color:white;
         border-radius: 4px;
         padding: 15px 40px;
         box-shadow:0px 7px #1a7940;
         position:relative;
    }

    .development:active {
        position:relative;
        top:7px;
        box-shadow:none;
    }
    footer {
        padding-left:40px;
        padding-right:40px;
        padding-bottom:30px;
    }

    .footer-border {
        border-top:1px solid #eee;
    }

    .footer-logo {
        padding-top:30px;
        width:124px;
    }
    
    footer p {
        font-size:12px;
        color:#b3aeb5;
    }
